body {
  width: 550px;
  margin: 4% auto;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 5px;
  font-size: 1.8rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.calculator {
  padding: 20px;
  -webkit-box-shadow: 0px 1px 4px 0px #ff0a54;
  box-shadow: 0px 1px 4px 0px #ff0a54;
  border-radius: 1px;
}

.input {
  border: 1px solid #fbb1bd;
  border-radius: 1px;
  height: 60px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: right;
  margin-right: 6px;
  font-size: 2.5rem;
  overflow-x: auto;
  transition: all 0.2s ease-in-out;
}

.input:hover {
  border: 1px solid #f9bec7;
  -webkit-box-shadow: inset 0px 1px 4px 0px #ff5d8f;
  box-shadow: inset 0px 1px 4px 0px #ff5d8f;
}

.operators div {
  display: inline-block;
  border: 1px solid #bbb;
  color: white;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 20px 4px 10px 0;
  cursor: pointer;
  background-color: #ff477e;
  transition: border-color 0.2s ease-in-out, background-color 0.2s,
    box-shadow 0.2s;
}

.operators div:hover {
  background-color: #73d2de;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #aaa;
}

.operators div:active {
  font-weight: bold;
}

.leftPanel {
  display: inline-block;
}

.numbers div {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  color: white;
  padding: 10px;
  margin: 10px 4px 10px 0;
  cursor: pointer;
  background-color: #ff99ac;
  transition: border-color 0.2s ease-in-out, background-color 0.2s,
    box-shadow 0.2s;
}

.numbers div:hover {
  background-color: #73d2de;
  -webkit-box-shadow: 0px 1px 4px 0px #ff99ac;
  box-shadow: 0px 1px 4px 0px #ff99ac;
  border-color: #bbb;
}

.numbers div:active {
  font-weight: bold;
}

div.equal {
  display: inline-block;
  border: 1px solid #ff0a54;
  border-radius: 1px;
  width: 17%;
  text-align: center;
  padding: 127px 10px;
  margin: 10px 6px 10px 0;
  vertical-align: top;
  cursor: pointer;
  color: white;
  background-color: #ff0a54;
  transition: all 0.2s ease-in-out;
}

div.equal:hover {
  background-color: #307cf9;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #1857bb;
}

div.equal:active {
  font-weight: bold;
}
